#gui{
    display: flex;
    justify-content: center;
    h4{
        margin-right: 10px;
        margin-top: 10px;
    }
   
}
#ster{
    scale: 1.2;
    button{
        width: 90px;
       
    }
    #s{
        margin-bottom: 20px;
    }
}
